## Version 2023/02/05
# make sure that your qbittorrent container is named qbittorrent
# qbittorrent does not require a base url setting

location /qbittorrent {
    return 301 $scheme://$host/qbittorrent/;
}

location ^~ /qbittorrent/ {
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
    proxy_set_header X-Forwarded-Host $host;
}

location ^~ /qbittorrent/api {
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
    proxy_set_header X-Forwarded-Host $host;
}

location ^~ /qbittorrent/command {
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
    proxy_set_header X-Forwarded-Host $host;
}

location ^~ /qbittorrent/query {
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
    proxy_set_header X-Forwarded-Host $host;
}

location ^~ /qbittorrent/login {
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
    proxy_set_header X-Forwarded-Host $host;
}

location ^~ /qbittorrent/sync {
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
    proxy_set_header X-Forwarded-Host $host;
}

location ^~ /qbittorrent/scripts {
    set $upstream_app qbittorrent;
    set $upstream_port 8080;
    set $upstream_proto http;
    proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    rewrite /qbittorrent(.*) $1 break;

    proxy_set_header Referer '';
    proxy_set_header Host $upstream_app:$upstream_port;
    proxy_set_header X-Forwarded-Host $host;
}
